.all{
    background-color: white;

}
.topBlock{
    display: flex;
}
.leftBlock{
    margin: 20px;
}
.left{
    width: 300px;
    word-wrap: break-word;
    text-align: right;
    margin-right: 20px;

}
.right{
    width: 500px;
    word-wrap: break-word;
}
.list{
    display: flex;
    box-sizing: border-box;
    padding: 20px  20px;

}
.rightImage{
    display: flex;

}
img{
    margin:auto;
    width: 80%;
    height: 80%;
}
.bottomBlock{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hide{
    border: 0;
    background-color: white;
    color:green;
}
.rectangle{
    width: 50px;
    height: 50px;
    background-color: greenyellow;
}
.includeInformation{
    margin: 20px;
    display: flex;
    justify-content: space-around;

}
.detailInformation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}