<div class='container'>
    <div class="top-container">
        <div class="top-left-container">
            <div class="show-property-line">
                <div class='property-name'>Ref.Ouvrage</div>
                <div class='property'>
                    {{refOuvrage}}
                </div>
            </div>
            <div class="show-property-line"> 
                <div class='property-name'>Libelle</div>
                <div class='property'>
                    {{libelle}}
                </div>
            </div>
            <div class="middle-line">
                <hr size="" color = "black" >
            </div>     
            <div class="show-property-line">
                <div class='property-name'>Groupe</div>
                <div class='property'>
                    {{group}}
                </div>
            </div>  
            <div class="show-property-line">
                <div class='property-name'>Famille</div>
                <div class='property'>
                    {{family}}
                </div>
            </div>   
            <div class="show-property-line">
                <div class='property-name'>Sous-famille</div>
                <div class='property'>
                    {{subFamily}}
                </div>
            </div>   
        </div>
        <div class="right-image">
            <img src={{image}} alt="">
        </div>
    </div>
    <div class="bottom-container">
        <div *ngIf="onShowAssociateDocuments; then showAssociateDocuments else hideAssociateDocuments"></div>
        <ng-template #showAssociateDocuments>
            <button class="show" (click)="onShowAssociateDocumentsChange()">Masquer les documents associes</button>
            <div class="line">
                <hr size="" color = "black" >
            </div>
            <div class="associate-documents-container">
                <div class="associate-document">
                    <div class="rectangle"></div>
                    <span belowRectangle>???</span>
                </div>
                <div class="associate-document">
                    <div class="rectangle"></div>
                    <span belowRectangle>???</span>
                </div>
                <div class="associate-document">
                    <div class="rectangle"></div>
                    <span belowRectangle>???</span>
                </div>
                <div class="associate-document">
                    <div class="rectangle"></div>
                    <span belowRectangle>???</span>
                </div>
                <div class="associate-document">
                    <div class="rectangle"></div>
                    <span belowRectangle>???</span>
                </div>
                <div class="associate-document">
                    <div class="rectangle"></div>
                    <span belowRectangle>???</span>
                </div>
                <div class="associate-document">
                    <div class="rectangle"></div>
                    <span belowRectangle>???</span>
                </div>
            </div>
        </ng-template>
        <ng-template #hideAssociateDocuments>
            <button class="hide" (click)="onShowAssociateDocumentsChange()">Afficher les documents associes</button>

        </ng-template>
    </div>
</div>
