.all{
    background-color: white;
}
.top-container{
    display: flex;
}
.left-container{
    margin: 20px;
}
.property-name{
    width: 300px;
    word-wrap: break-word;
    text-align: right;
    margin-right: 20px;
}
.property{
    width: 500px;
    word-wrap: break-word;
}
.show-property-line{
    display: flex;
    box-sizing: border-box;
    padding: 20px  20px;

}
.right-image{
    display: flex;

}
img{
    margin:auto;
    width: 80%;
    height: 80%;
}
.bottom-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
button{
    border: 0;
    background-color: white;
    color:green;
}
.rectangle{
    width: 50px;
    height: 50px;
    background-color: greenyellow;
}
.associate-documents-container{
    margin: 20px;
    display: flex;
    justify-content: space-around;

}
.associate-document{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}