
<div>
    <mat-grid-list cols="5" rowHeight=350>
        <mat-grid-tile *ngFor="let product of products">
            <!-- <div id="resumeDescrip" [routerLink]="['/connected', product.id]">
                <div id="firstview">
                    <img id="imgProduct" src= "https://gaia.fantasiapp.tech/{{ product.photoUrl }}">
                    <p>{{ product.name }}</p>
                </div>
                <div class="price">
                    <h3>prix de vente HT mini {{ product.myTotal}} &euro;</h3>
                </div>
            </div> -->

            <div id="resumeDescrip" [routerLink]="['/detail', product.id]">
                <app-product libelle={{product.name}} price={{product.myTotal}} image="https://gaia.fantasiapp.tech/resources/images/Visuels_Systemes/Placo/7E3626CAEE464DD5A1C169DB2DE30A5D_72-48.png"></app-product>
            </div>
            
            
        </mat-grid-tile>
    </mat-grid-list>
</div>
<!-- <app-product libelle= {{product.name}}  price = {{product.myTotal}}  image="https://gaia.fantasiapp.tech/resources/images/Visuels_Systemes/Placo/7E3626CAEE464DD5A1C169DB2DE30A5D_72-48.png"> -->
