
.container{
    display: flex;
    width:100%;
    border-bottom: 1px solid black;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}
.icone-username{
    position: relative;
    display: flex;
    right: 80px;
    align-items: center;

}
.left-logo{
    position: relative;
    left:50px;
    width: 80px;
    background-image: "../../assets/logo_white.svg";
  
}