#iconeUser{
    position: absolute;
    height: 40px;
    width: 200px;
    right: 4px;
    top: 20px;  
}

#head1{
    display: flex;
    width:100%;
    border-bottom: 1px solid black;
    height: 80px;
}

.leftLogo{
    position: absolute;
    height: 40px;
    width: 80px;
    left: 10px;
    top: 10px;    
}