#resumeDescrip{
    height: 300px;
    width: 85%;
    display:block;
    justify-content: center;
    flex-direction: column;
}

#imgProduct{
    height: 50%;
    width: 50%;
    margin: auto;
}

#firstview{
    height: 51%;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 50px;
}

.price{
    position: absolute;
    left: 15%;
    top: 73%;
    height: 27%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h3{
    color: turquoise;
    font-weight: 400;
    text-align: center;
}

p{
    text-align: center;
}

#bigBox{
    width: 98%;
    display: flex;
    justify-content: center;
    background-color: rgb(114, 95, 160);
    border-radius: 100px;
}

mat-grid-tile{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px 5px #A9A9A9;
}

mat-grid-tile:hover{
    background-color: rgb(203, 203, 221);
}

mat-grid-list{
    border:snow;
}




